//Interpolation
<h1>Profile Info</h1>
<h2>Name : <span [style.color]="customColor">{{name | uppercase}}</span></h2>
<h2 id="city">City : {{city | titlecase }}</h2>
<h2 appHighlight>Status : {{status}}</h2>


//Property Binding
<div></div>
<button type="button" class="btn btn-success" [disabled]="isDisabled">Click</button>

<hr>
//control flow angular 13 version
<div class="card-body">
  @for(user of users;track user.id) {
  @if(user.status=="Single"){
  <h3>Name - {{user.name}}, City - {{user.city}}, Status - {{user.status}}</h3>
  }@else{
  <h3>Hidden</h3>
  }
  <hr>
  }
</div>

<hr>

//directive
<div *ngFor="let user of users">
  <h3 *ngIf="user.status=='Single';else elseBlock">Name - {{user.name}}, City - {{user.city}}, Status - {{user.status}}
  </h3>
  <ng-template #elseBlock>
    <h3>Hidden</h3>
  </ng-template>
  <hr>
</div>

<hr>

<!-- <app-user-profile Username="Darshan1" isSingle="true" age="24"></app-user-profile> -->
<!-- <app-user-profile Username="Darshan2" isSingle="true" age="25"></app-user-profile> -->
<!-- <app-user-profile Username="Darshan3" isSingle="true" age="24"></app-user-profile> -->
<app-user-profile *ngFor="let user of users" [id]="user.id" [Username]="user.name" [city]="user.city" [status]="user.status"
  (myEvent)="receivedData($event)">
</app-user-profile>
